In [ ]:
# VD realizado con vinardo a 8x

In [2]:
import pandas as pd
import numpy as np
import glob

In [3]:
# Carga del DataFrame Principal
df_cdk2_labels = pd.read_json(r"./B_DATOS/TABLA_MTDATA_CDK2_402_crys_LIGS_INFO_LABELS.json")
df_cdk2_labels.head(5)

,Title,Date,Entities,ChainID,Resolution,Identity,Coverage,NumGaps,GapLen,GapPos,NumLigs,NameLigs,Inhib,Inhib_mass,Labels_conf
1aq1,human cyclin dependent kinase 2 complexed with...,1997-11-12,1,A,2.00,298,92.953020,2,"[8, 13]","[[36, 43], [149, 161]]",1,['STU'],STU,440.0,inact_b
1b38,human cyclin-dependent kinase 2,1998-12-23,1,A,2.00,298,97.315436,1,[8],"[[36, 43]]",3,"['ACE', 'ATP', 'MG']",ATP,398.0,inact_a
1b39,human cyclin-dependent kinase 2 phosphorylated...,1998-12-23,1,A,2.10,298,97.315436,1,[8],"[[36, 43]]",3,"['ACE', 'ATP', 'MG']",ATP,398.0,inact_a
1buh,crystal structure of the human cdk2 kinase com...,1998-09-09,2,A,2.60,298,96.308725,2,"[7, 4]","[[40, 46], [295, 298]]",0,[],,,inact_a
1ckp,human cyclin dependent kinase 2 complexed with...,1999-01-13,1,A,2.05,298,93.624161,2,"[8, 11]","[[36, 43], [153, 163]]",2,"['EDO', 'PVB']",PVB,214.0,inact_a

In [5]:
# Carag de los resultados de CSAR
csar_data = pd.read_excel('../ARCHIVOS/CDK2_Binding_Data_Corrected_2016AUG18.xlsx', sheet_name="Binding", index_col=0)
csar_data[["PDB ID", "Experimental Result, Average Value", "ActiveInactive"]].head(10)
# Limpiamos los datos y asignamos el valor de activo
csar_data["ActiveInactive"].fillna("Active", inplace=True)
# para el caso del ligando CS12, que es activo pero no posee valor de pKi
csar_data.at["CS12", "Experimental Result, Average Value"] = 99999
# Se ordena el índice
reindex = csar_data.index.to_series().str.rsplit('S').str[-1].astype(int).sort_values()
# Se reasigna el indice
csar_data = csar_data.reindex(index= reindex.index)
csar_data.head(3)

,Data Source,Target,SMILES,Chemical Series,"Experimental Result, Average Value Operator","Experimental Result, Average Value","Experimental Result, SEM","Experimental Result, Type","Experimental Result, Unit","Experimental Result, Protocol","Experimental Result, comment",PDB ID,LIGAND ID,ActiveInactive
Compound_ID,,,,,,,,,,,,,,
CS1,UnivMichigan,CDK2 Kinase,Brc1ccc(cc1)C(=O)Nc1n[nH]c(c1)C CS1,1.0,NaN,33200,7040.0,Kd,nM,OctetRed_Method1,NaN,4EK4,NaN,Active
CS2,UnivMichigan,CDK2 Kinase,O=C(Nc1n[nH]c(c1)C1CC1)CCC CS2,1.0,NaN,1840,368.0,Kd,nM,OctetRed_Method1,NaN,NaN,NaN,Active
CS3,UnivMichigan,CDK2 Kinase,O=C(Nc1n[nH]c(c1)C1CC1)c1ccc(cc1)C(=O)N CS3,1.0,NaN,808,114.0,Kd,nM,OctetRed_Method1,NaN,4EK5,NaN,Active

In [ ]:
# Carga de resultados
dir_dk_DUD_vrd = '../ARCHIVOS/CRISTALES/DOCKINGS/DOCK_402_crys_DUD_2006/VINARDO/CSV/*'
df_vinardo